aiida-core==1.6.1
ase==3.21.1
chemiscope==0.3.0
colorcet==2.0.6
datashader==0.12.1
matminer==0.6.5
matplotlib==3.4.1
mendeleev==0.7.0
numpy==1.20.3
pandas==1.2.4
pymatgen==2022.0.5
rascal@git+https://github.com/cosmo-epfl/librascal.git
scipy==1.6.2
seaborn==0.11.1
seekpath==1.9.7
shapely==1.7.1
skcosmo
sklearn
tabulate==0.8.9
tqdm==4.60.0
