soaps_1.0.npy filter=lfs diff=lfs merge=lfs -text
soaps_1.5.npy filter=lfs diff=lfs merge=lfs -text
soaps_2.0.npy filter=lfs diff=lfs merge=lfs -text
soaps_3.0.npy filter=lfs diff=lfs merge=lfs -text
soaps_3.5.npy filter=lfs diff=lfs merge=lfs -text
soaps_4.0.npy filter=lfs diff=lfs merge=lfs -text
soaps_5.5.npy filter=lfs diff=lfs merge=lfs -text
soaps_0.5.npy filter=lfs diff=lfs merge=lfs -text
soaps_1.75.npy filter=lfs diff=lfs merge=lfs -text
soaps_2.5.npy filter=lfs diff=lfs merge=lfs -text
soaps_4.5.npy filter=lfs diff=lfs merge=lfs -text
soaps_5.0.npy filter=lfs diff=lfs merge=lfs -text
soaps_8.0.npy filter=lfs diff=lfs merge=lfs -text
